.Encabezado{
    margin: auto;
    padding: 20vh;
    color:white;
    background-color: black;
}

.Principal{
    margin: auto;
    padding: 60vh;
    color:skyblue;
    border: 0.5px solid grey;  
    background-color: black;
}

.Creditos{
margin: auto;
padding: 20vh;
background-color: black;
color:grey;
}